
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


.especialistas{
	width:25%;
	margin: 35px;
}

.pe{
	color: black;
}

#conteudoprin{
	display: flex;
	
}


#imgp img{
	width:100%;
}


#secao{
	display:flex;
}


#lado1{
	width:100%;
	display:block;
	text-align: center;
	margin:15px;
}
#lado2 {
	padding:3rem;
	margin:15px;
}
#lado2 details{
	background-color:white;
	padding:1rem;
	margin:10px;
}


#lado2 a{
	text-decoration: none;
	color: black;
	display:block;
	background-color:white;
	padding:1rem;
	margin:10px;
}


#secao img{
	width:87%;
}


#cartao2{
		width:30%;
		margin-right:50px;
}


#cartao{
	width: 50%;
	margin-left:50px;
}


#promo{
	width:30%;
	margin-right:50px;
}


#esp1{
	display:flex;
	margin:10px;
}


#imgesp img{
	width:100%;
	margin-right:20px;
}

#espf{
	margin:20px;
}

#clin{
	display:flex;
	margin:20px;
}

#clinimg{
	width:100%;
	
}


#clinimg img{
	max-width:100%;
	
}

#proc{
	display:flex;
	margin:20px;
}

#procimg{
	width:100%;
	background-color: #FFFFFF;
	
}
#procimg img{
	max-width:100%;
	
}

#h3{
	color: #A9DBE0;
	font-family: 'Roboto', sans-serif;
}

#espi{
	width:100%;
	display:flex;
	justify-content:space-around;
}

header{
	background-color: #23627D;
	display: grid;
	grid-template-columns: 1fr 3fr;
    height:150px;	
	align-items:center;
}


header img{
	height:70px;
	margin-left: 60px
}


nav ul{
   display:flex;
   justify-content:space-around;  
   margin-right: 100px;
}


nav li{
	background-color:#FFFFFF;
	display:block;
	padding:10px;
}


li a{
	color: #23627D;
	text-decoration: none;
}


main{
	background-color: #FFFFFF;
	margin: 30px;
}


aside{
	background-color:  #23627D;
}


section{
	background-color: #FFFFFF;
}


footer{
	background-color: #23627D;
	display:block;
	text-align: center;
	line-height: 2;
}

h2{
	color:#459BA4;
	font-family: 'Secular One', sans-serif;
	font-size: 2rem;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	margin: 10px;
}

h3{
	color: #A9DBE0;
}
iframe{
	width:100%;
	margin-bottom: 20px;
}

